#detail{
    display: flex;
    background-color: #d8d9da;
    min-height: 100vh;
    > section{
        width: 80%;
        min-height: 100vh;
        margin-top: 20px;
        padding-right: 30px;
        > nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            > div{
                &:hover > aside{
                    display: flex;
                }
                > nav{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    cursor: pointer;
                    > img{
                        width: 30px;
                        border-radius: 50px;
                        margin-right: 5px;
                    }
                    > h4{
                        font-size: 15px;
                        margin-right: 5px;
                        display: flex;
                        align-items: start;
                        i{
                            margin-left: 5px;
                        }
                    }
                }

                > aside{
                    background-color: #FFF;
                    display: none;
                    flex-direction: column;
                    justify-content: space-between;
                    box-shadow: 0px 0px 10px gray;
                    min-height: 60px;
                    min-width: 150px;
                    padding: 20px;
                    border-radius: 4px;
                    margin-top: 3px;
                    position: absolute;
                    right: 0;
                    margin-right: 30px;
                    > h4{
                        font-size: 15px;
                        cursor: pointer;
                        i{
                            margin-right: 5px;
                        }
                    }
                    > p{
                        color: red;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        cursor: pointer;
                    }
                }
                
            }
        }

        .arrowleft {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 6px;
            margin-top: 25px;

            i {
                font-size: 12px;
            }
        
            p {
                color: #134544;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 10px;
                font-weight: 500;

            }
            a {
                text-decoration: none;
                color: inherit;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        > h2{
            margin-top: 10px;
            padding: 25px;
            background-color: #FFF;
            border-radius: 3px;
            font-family: Arial, Helvetica, sans-serif;
            color: #34395E;
        }
        > #wrapper{
            display: flex;
            align-items: start;
            margin-top: 30px;
            margin-bottom: 20px;
            > span{
                width: 23px;
                padding: 4px;
                background-color: #134544;
                border-radius: 10px;
                margin-top: 8px;
            }
            > div{
                min-height: 45px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 20px;

                > li{
                    list-style-type: none;
                    font-size: 18px;
                    color: #3B3D55;
                    font-weight: bold;
                    font-family: Arial, Helvetica, sans-serif;
                }
                > P{
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    color: #162168;
                    font-size: 15px;
                }
            }
        }

        .container{
            background-color: #fff;
            border-radius: 5px;
            position: relative;
            height: 80%;


            .header{
                padding: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center; 
                border-bottom: 1px solid #eee;

                h4{
                    font: 16px Raleway, "Segoe UI", arial;
                    color: #162168;
                    font-weight: 700;
                }

                .download-btn {
                    background-color: #134544;
                    color: #ffffff;
                    padding: 8px 16px;
                    border-radius: 20px;
                    font: 12px Raleway, "Segoe UI", arial;
                    font-weight: 500;
                    border: none;
                    cursor: pointer;
                }
            }
            .timeline {
                margin-left: 50px;
                position: relative;
                margin-top: 30px;
                padding-left: 50px;
                border-left: 2px solid #563d7c;

                .timeline-item {
                    display: flex;
                    align-items: flex-start;
                    margin-bottom: 30px;
                    position: relative;

                    
                }
                
                .timeline-item .icon {
                    position: absolute;
                    left: -75px;
                    top: 0;
                    width: 45px;
                    height: 50px;
                    background-color: #134544;
                    border-radius: 50%;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                }
                .content {
                    background: white;
                    padding: 8px 16px;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    min-width: 200px;
                    margin-left: 15px;

                     h4 {
                        font: 14px Raleway, "Segoe UI", arial;
                        color: #162168;
                        font-weight: 500;
                    }

                     p {
                        font: 10px Raleway, "Segoe UI", arial;
                        color: #134544;
                        font-weight: 500;
                    }
                }
                
            }

            .complete-btn {
                position: absolute;
                bottom: 20px;
                right: 30px;
                background-color: #134544;
                color: #ffffff;
                border: none;
                padding: 10px 18px;
                border-radius: 5px;
                font: 13px Raleway, "Segoe UI", arial;
                font-weight: 500;
                cursor: pointer;
                margin-bottom: 10px;
            }
        }

        > li{
            margin-top: 100px;
            margin-bottom: 30px;
            color: #007BFF;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }
        #details{
            display: flex;
        }
    }
}
@media screen and (max-width: 1120px) {
    #detail{
        width: 100%;
        #navbar{
            width: 25%;
            section{
                width: 20%;
            }
        }
        section{
            width: 75%;
            #container{
                width: 100%;
                div{
                    nav{
                        padding: 10px;
                        h4{
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }

}
@media screen and (max-width: 920px) {
    #detail{
        width: 100%;
        #navbar{
            width: 25%;
            display: none;
           
            section{
                position: fixed;
                top: 0;
                left: 0;
                width: 25%;
            }
        }
        #navbar.open {
            display: flex;
        }
        section{
            width: 100%;
            margin: 10px;
            
            nav{
                div{
                    nav{
                        h4{
                            display: none;
                        }
                    }
                }
            }

        }
        #li {
            margin-left: 10px;
        }
    }
    
}


@media screen and (max-width: 790px) {
   #detail{
        width: 100%;
        #navbar{
            width: 25%;
            display: none;
            section{
                position: fixed;
                top: 0;
                left: 0;
                width: 40%;
            }
        }
        .container{
            width: 100%;

            .header{
                width: 92%;
            }
            .timeline{
                width: 85%;
            }


            .content {
                width: 70%;
                
            }
            
        }
   }
} 

@media screen and (max-width: 703px) {
    #detail{
        .container{
            width: 100%;

            .header{
                width: 90%;
            }
            .timeline{
                width: 85%;
                min-height: 99vh;
            }


            .content {
                width: 70%;
            }
            
        }

    }
}

@media screen and (max-width: 530px) {
    #detail{
        width: 100%;
        margin-left: 10px;
        overflow: hidden;


        #navbar{
           
            section{
                position: fixed;
                top: 0;
                left: 0;
                width: 40%;
            }
        }
        .container{
            width: 95%;
            margin-right: 70px;
           
           
        }  
        
    }
} 